.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 2rem;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  div {
    flex: 1;
  }
}
