@import '~antd/dist/antd.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-usu {
  color: #fff;
  background-color: #005F32;
  border-color: #005F32;
}
.btn-usu:hover {
  color: #fff;
  background-color: #00391e;
  border-color: #002c17;
}
.btn-usu:focus, .btn-usu.focus {
  color: #fff;
  background-color: #00391e;
  border-color: #002c17;
  box-shadow: 0 0 0 0.2rem rgba(38, 119, 81, 0.5);
}
.btn-usu.disabled, .btn-usu:disabled {
  color: #fff;
  background-color: #005F32;
  border-color: #005F32;
}
.btn-usu:not(:disabled):not(.disabled):active, .btn-usu:not(:disabled):not(.disabled).active, .show > .btn-usu.dropdown-toggle {
  color: #fff;
  background-color: #002c17;
  border-color: #001f10;
}
.btn-usu:not(:disabled):not(.disabled):active:focus, .btn-usu:not(:disabled):not(.disabled).active:focus, .show > .btn-usu.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 119, 81, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}